@* {
    ViewData["Title"] = "Home Page";
} *@

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 {
            color: black;
            text-align: center;
            position: relative;
            top: calc(30% - 250px);
            width: 100%;
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }

        p {
            color: black;
            text-align: center;
            position: relative;
            top: calc(30% - 200px);
            width: 100%;
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-image: url('https://i.pinimg.com/564x/e6/df/70/e6df702c2f33c2191f2e08ed93b21343.jpg'); /* Specify the URL of your background image */
            background-size: cover; /* Cover the entire background */
            background-position: center; /* Center the background image */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        img {
            width: 300px;
            height: 400px;
            margin-bottom: 20px;
        }

        .learn-more-btn {
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
            font-size: 16px;
            background-color: White;
            color: black;
            border: none;
            cursor: pointer;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>K H U M A L O  C R A F T</h1>
    <p> Where art meets functionality</p>

    <img src="https://i.pinimg.com/564x/ca/46/4e/ca464e7a999131d77095aadb3b7f621b.jpg" alt="Image 1">
    <img src="https://i.pinimg.com/564x/a9/19/1e/a9191e56d4374be04571348ecb2006f9.jpg" alt="Image 2">
    <img src="https://i.pinimg.com/564x/7b/22/6a/7b226a82359a524f38016de5d9369ff9.jpg" alt="Image 3">
    <img src="https://i.pinimg.com/564x/f8/a8/14/f8a81458984642dade91337015e11f93.jpg" alt="Image 4">

    <button class="learn-more-btn" onclick="window.location.href='https://localhost:7237/Home/About';">Learn More</button>
</body>
</html>





  @*  @*  <img src="@Url.Content("https://i.pinimg.com/736x/3f/c4/56/3fc4561ca72ee8e34fc99c158a34b99d.jpg")" alt="Banner Image"> *@
    
    







